nav{
    padding: 1%; background-color: #031d26;
}
nav ul{
    margin: 2px; padding: 0; display: flex;
}
nav ul li{
    list-style: none; border-right: 1px solid; padding: 0.2% 3%;
}
nav ul li:last-child{
    border: none;
}
nav ul li a{
    display: block; width: 100%; padding: 1%; text-decoration: none;
}